<div class="col-md-6 col-lg-4">
    <div class="block-v1 color-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
        <span class="flaticon-teach"></span>
        <h3>Learn</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>
</div>