<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WastedFoodAdminSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a class="logo" asp-area="" asp-controller="Report" asp-action="Index">WastedFoodSystem</a>
            <nav id="nav">
                @{
                    var sessionName = new Byte[20];
                    bool nameOK = Context.Session.TryGetValue("username", out sessionName);

                    if (nameOK)
                    {
                        string result = System.Text.Encoding.UTF8.GetString(sessionName);
                        <div class="d-flex">
                            <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownSeller" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Quản lý người bán
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownSeller">
                                    <a class="dropdown-item" asp-controller="SellerManager" style="color:black" asp-action="Account">Tài khoản hoạt động</a>
                                    <a class="dropdown-item" asp-controller="SellerManager" style="color:black" asp-action="Blocked">Tài khoản bị khóa</a>
                                    <a class="dropdown-item" asp-controller="SellerManager" style="color:black" asp-action="WaitForActive">Tài khoản chờ kích hoạt</a>
                                </div>
                            </div>
                            <a asp-controller="Feedback" asp-action="Index">Danh sách phản hồi</a>

                            <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownBuyer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Quản lý người mua
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownBuyer">
                                    <a class="dropdown-item" asp-controller="BuyerManager" style="color:black" asp-action="Account">Tài khoản hoạt động</a>
                                    <a class="dropdown-item" asp-controller="BuyerManager" style="color:black" asp-action="Blocked">Tài khoản bị khóa</a>
                                </div>
                            </div>
                            <a asp-controller="Report" asp-action="Index">Quản lý báo cáo</a>
                            <a asp-controller="Admin" asp-action="Logout">Đăng xuất</a>
                        </div>
                    }
                }
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
